.about {
    opacity: 0;
    z-index: -1;
    &__content {
        font-size: 4.2vmin;
        padding-left: 1.5em;
        padding-right: 1.5em;
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox
        &::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
    }
    &__paragraph {
        color: #000000;
        line-height: 1.9444em;
        letter-spacing: 0.0555em;
        padding-bottom: 2em;
        font-size: 4.2vmin;
        color: black;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__etcetera {
        font-style: italic;
    }
    @media(min-width: $desktop) {
        &__content {
            padding-top: 0;
            padding-left: 16%;
            padding-right: 16%;
            padding-bottom: 0;
            justify-content: center;
        }
        &__paragraph {
            font-size: 2.22vw;
            line-height: 1.25em;
            font-family: Arial;
            letter-spacing: .0815em;
            padding-bottom: 4vh;
        }
    }
}