.container {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 280px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    @media(min-width: $desktop) {
        padding: 0 4%;
        height: 100%;
    }
}