.content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    &__item {
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
}