.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    opacity: 0;
    z-index: -1;
    height: 100%;
    @media(min-width: $desktop) {
        &__text {
            font-size: 20vmin;
            font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
        }
    }
}