.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s linear;
    height: 100%;
    &__text {
        font-size: 20vmin;
        font-family: "Arial Black";
    }
}