.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    z-index: 20;
    &\--top {
        padding-bottom: 25px;
        padding-top: 25px;
        position: relative;
    }
    &\--bottom {
        margin-top: auto;
        background-color: white;
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__wrapper {
        position: relative;
    }
    &__radio {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked~.nav__label {
            color: #747474;
        }
    }
    &__label {
        color: #000000;
        font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
        font-size: 15px;
        display: block;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2.61px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: #747474;
        }
    }
    @media(min-width: $desktop) {
        padding-bottom: 4.8vh;
        padding-top: 4.8vh;
        &__label {
            font-size: 1.6vw;
            letter-spacing: 4px;
        }
    }
}