.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    z-index: 20;
    padding: 3.7vh 0;
    &\--top {
        position: relative;
    }
    &\--bottom {
        margin-top: auto;
        background-color: white;
        position: relative;
    }
    &__wrapper {
        position: relative;
    }
    &__radio {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked~.nav__label {
            color: #747474;
        }
    }
    &__label {
        color: #000000;
        font-family: Arial, Gadget, sans-serif;
        font-size: 2.25vh;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.174em;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 0.6s ease-out;
        &:hover {
            color: #747474;
        }
    }
    @media(min-width: $desktop) {
        padding-bottom: 4.8vh;
        padding-top: 4.8vh;
        &__label {
            font-size: 1.6vw;
            letter-spacing: 0.17em;
        }
    }
}