.work {
    opacity: 0;
    z-index: -1;
    position: static;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    &__nav {
        display: none;
    }
    &__slider-wrapper {
        height: 100%;
        min-height: 100%;
        max-height: 100%; // overflow: hidden;
    }
    &__slider {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: 9.6vw;
        padding-right: 9.6vw;
        -webkit-overflow-scrolling: touch;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        padding: 15px 0;
        &:last-child {
            margin-bottom: 9.65vh;
        }
    }
    &__text {
        padding-top: 3.5vh;
    }
    &__media {
        padding-top: 56.25%;
        width: 100%;
        position: relative;
        overflow: hidden;
        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3), -3px -1px 15px rgba(0, 0, 0, 0.3); // background-repeat: no-repeat; // background-size: cover;
    }
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        display: none;
        &\--zorro {
            display: block;
        }
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: opacity .5s ease-in-out, filter .5s, -webkit-filter .5s;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        cursor: pointer;
        @media (pointer: fine) and (hover: hover) {
            filter: grayscale(50%);
            -webkit-filter: grayscale(50%);
        }
    }
    &__header {
        color: #000000;
        font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
        font-size: 5.33vw;
        font-weight: 900;
        line-height: 1.33em;
        text-transform: uppercase;
        letter-spacing: 0.0585em;
        text-align: center;
        padding-bottom: 3vh;
        text-decoration: none;
        display: block;
        transition: color 0.6s ease-out;
        &:hover {
            color: #747474;
        }
    }
    &__paragraph {
        font-size: 3.47vw;
        line-height: 1.6em;
        letter-spacing: 0.09em;
        +.work__paragraph {
            padding-top: 1em;
        }
    }
    &__bold {
        font-weight: 700;
        color: black;
        text-decoration: none;
        transition: color 0.6s ease-out;
        &:hover {
            color: #747474;
        }
    }
    @media(min-width: $desktop) {
        padding-left: 9vw;
        padding-right: 10.85vw;
        padding-top: 0;
        &__nav {
            position: absolute;
            display: flex;
            flex-direction: column;
            right: 4vw;
            top: 50%;
            transform: translateY(-50%);
            position: fixed;
            width: 1.05vw;
            margin-right: 0.5vw;
            min-width: 15px;
        }
        &__nav-link {
            width: 0.7vw;
            min-width: 10px;
            min-height: 10px;
            height: 0.7vw;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            position: relative;
            +.work__nav-link {
                margin-top: 4.1vh;
            }
            &\--active {
                background-color: black;
            }
            @media(pointer: fine) {
                &:hover {
                    background-color: black;
                    transform: scale(1.5);
                    .work__nav-text {
                        display: block;
                    }
                }
            }
        }
        &__nav-text {
            color: black;
            font-size: 0.6vw;
            text-transform: uppercase;
            position: absolute;
            right: 130%;
            top: 50%;
            transform: translateY(-50%);
            text-decoration: none;
            pointer-events: none;
            display: none;
            white-space: nowrap;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &__slider {
            padding-left: 0;
            margin-right: -17px;
            padding-right: 17px;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none; // IE 10+
            overflow: -moz-scrollbars-none; // Firefox
            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }
        }
        &__slider-wrapper {
            margin-right: 17px;
            overflow: hidden;
        }
        &__item {
            padding: 0 25px;
            max-height: 100%;
            margin-bottom: 17.5vh;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__text {
            width: 90%;
            padding-top: 0;
            padding-left: 0.9vw;
        }
        &__media {
            height: 22.5vw;
            width: 40vw;
            padding: 0;
            flex-shrink: 0;
            background: none;
            box-shadow: 3px 4px 25px rgba(0, 0, 0, 0.4), -3px -1px 25px rgba(0, 0, 0, 0.4); // @media(min-width: $desktop) and (max-width: 900px) {
        }
        &__header {
            font-size: 2vw;
            font-weight: 900;
            line-height: 1.25em;
            letter-spacing: 0.06375em;
            padding-top: 1.2em;
            padding-bottom: 1em;
        }
        &__description {
            padding-top: 0;
        }
        &__paragraph {
            font-size: 1.4vw;
            line-height: 1.6em;
            letter-spacing: 0.1em;
        }
    } // @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    //     &__media {
    //         height: 20.25vw;
    //         width: 36vw;
    //     }
    // }
}