.work {
    opacity: 0;
    z-index: -1;
    position: static;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    &__nav {
        display: none;
    }
    &__slider-wrapper {
        height: 80.7vh;
        height: calc(var(--vh, 1vh) * 80.7);
        overflow: hidden;
    }
    &__slider {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: calc(9.6vw - 15px);
        padding-right: calc(9.6vw - 15px);
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(var(--vh, 1vh) * 80.7);
        padding: 15px;
        &:last-child {
            margin-bottom: 9.65vh;
        }
    }
    &__text {
        padding-top: 3.5vh;
    }
    &__media {
        width: 35vh;
        height: 35vh;
        height: calc(var(--vh, 1vh) * 35);
        width: calc(var(--vh, 1vh) * 35);
        position: relative; // overflow: hidden;
        flex-shrink: 1;
        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3), -3px -1px 15px rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        &\--zorro {
            background-image: url("../img/zorro.png");
        }
        &\--tiempo {
            background-image: url("../img/tiempo.png");
        }
        &\--installations {
            background-image: url("../img/installations.png");
        }
        &\--cube {
            box-shadow: none;
        }
    }
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        display: none;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }
    &__header {
        color: #000000;
        font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
        font-size: 5.33vw;
        font-weight: 900;
        line-height: 1.33em;
        text-transform: uppercase;
        letter-spacing: 0.0585em;
        text-align: center;
        padding-bottom: 3vh;
        text-decoration: none;
        display: block;
        transition: color 0.6s ease-out;
        &:hover {
            color: #747474;
        }
    }
    &__subheader {
        font-size: 3.47vw;
        font-weight: 700;
        line-height: 3em;
        text-transform: uppercase;
        letter-spacing: 0.107em;
        text-align: center;
        font-style: italic;
    }
    &__paragraph {
        font-size: 3.47vw;
        line-height: 1.6em;
        letter-spacing: 0.09em;
        +.work__paragraph {
            padding-top: 1em;
        }
    }
    &__bold {
        font-weight: 700;
        color: black;
        text-decoration: none;
        transition: color 0.6s ease-out;
        &:hover {
            color: #747474;
        }
    }
    @media(min-width: $desktop) {
        padding-left: 9vw;
        padding-right: 10.85vw;
        padding-top: 0;
        &__nav {
            position: absolute;
            display: flex;
            flex-direction: column;
            right: 4vw;
            top: 50%;
            transform: translateY(-50%);
            position: fixed;
            width: 1.05vw;
            margin-right: 0.5vw;
            min-width: 15px;
        }
        &__nav-link {
            width: 0.7vw;
            min-width: 10px;
            min-height: 10px;
            height: 0.7vw;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            position: relative;
            +.work__nav-link {
                margin-top: 4.1vh;
            }
            &\--active {
                background-color: black;
            }
            @media(pointer: fine) {
                &:hover {
                    background-color: black;
                    transform: scale(1.5);
                    .work__nav-text {
                        display: block;
                    }
                }
            }
        }
        &__nav-text {
            color: black;
            font-size: 0.6vw;
            text-transform: uppercase;
            position: absolute;
            right: 130%;
            top: 50%;
            transform: translateY(-50%);
            text-decoration: none;
            pointer-events: none;
            display: none;
            white-space: nowrap;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &__slider {
            padding-left: 0;
            margin-right: -17px;
            padding-right: 17px;
            height: 74vh;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none; // IE 10+
            overflow: -moz-scrollbars-none; // Firefox
            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }
        }
        &__slider-wrapper {
            margin-right: 17px;
            height: 74vh;
        }
        &__item {
            padding: 0 25px;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 12.5vh;
            height: 74vh;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(even) {
                .work__media {
                    order: 1;
                }
            }
        }
        &__text {
            width: 38.18vw;
            padding-top: 0;
        }
        &__media {
            width: 19vw;
            height: 33.77vw;
            background: none;
            box-shadow: 3px 4px 25px rgba(0, 0, 0, 0.4), -3px -1px 25px rgba(0, 0, 0, 0.4);
            overflow: hidden;
        }
        &__iframe {
            display: block; // hide scrollbar
            &\--tiempo {
                width: calc(100% + 17px);
            }
        }
        &__img {
            display: none;
        }
        &__mobile-img {
            display: none;
        }
        &__header {
            font-size: 2.22vw;
            font-weight: 900;
            line-height: 1.25em;
            letter-spacing: 0.06375em;
            text-align: left;
            padding-bottom: 0.6em;
        }
        &__subheader {
            font-size: 1.7vw;
            font-weight: 700;
            line-height: 1.6em;
            letter-spacing: 0.0932em;
            text-align: left;
            padding-bottom: 1em;
        }
        &__description {
            padding-top: 1.56vh;
        }
        &__paragraph {
            font-size: 1.7vw;
            line-height: 1.6em;
            letter-spacing: 0.1em;
        }
    }
}