body,
html,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%; // overflow: hidden;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$contact-desktop: 480px;
$desktop: 600px;